<<<<<<< HEAD
body header {
    background-color: #149229;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center; 
}

body header img {
    margin-right: 10px;
    border-radius: 50%;
    flex: none;
    height: 200px;
    width: 200px;
}

body h1 {
    margin: auto;
    font-size: 70px;
    flex: 1;
}

body main {
    margin: 20px;
    text-align: center;
    
=======
/* Add your own styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #445566;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
>>>>>>> ad1cb5f1704db10bb17691d9d83c1be2d6c7ee19
}

#controls {
    margin-bottom: 20px;
<<<<<<< HEAD
    justify-content: center;
}
#controls label {
    font-size: 20px;
    margin-right: 10px;
    align-self: center;
}
#controls input {
    font-size: 18px;
    padding: 5px;
    width: 500px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 10px;
    align-self: center;
}
#controls button {
    font-size: 18px;
    margin: 10px;
    width: 200px;
    padding: 5px 10px;
    border: 1px solid #000000;
    cursor: pointer;
    
}

#result { 
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: #a0e7ae;
    padding: 10px;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
}
#result table {
    margin: auto;
    width: 100%;
}   


#lookup {
    background-color: #3b85e7;
    color: white;
}
#CityLookup {
    background-color: #2e992e;
    color: white;
}

#control button:hover {
    background-color: #c00505;
=======
}

input[type="search"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
>>>>>>> ad1cb5f1704db10bb17691d9d83c1be2d6c7ee19
}