/* Add your own styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #445566;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

#controls {
    margin-bottom: 20px;
}

input[type="search"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}